body {
    font-family: Arial, sans-serif;
    background-color: black;
    background-image: url('https://www.transparenttextures.com/patterns/shining-dark.png');
    background-size: cover;
    color: white;
    padding: 0;
    margin: 0;
}

#content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 1px solid #333;
    color: #ccc;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar {
    background-color: #444;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ddd;
    color: black;
}
